[submodule "qoi"]
	path = qoi
	url = https://github.com/phoboslab/qoi.git
[submodule "TQoiImage"]
	path = TQoiImage
	url = https://github.com/AngusJohnson/TQoiImage.git
[submodule "qoiAVX"]
	path = qoiAVX
	url = https://github.com/MKCG/qoi.git
